DB_HOST=mongodb://localhost:27017/
DB_NAME=educonnecttutor
MONGODB_URI= xxx
# AWS S3 Configuration (using IAM user)
AWS_ACCESS_KEY_ID=x
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=xx
AWS_S3_BUCKET=xx

# GLOBAL POSTGRESQL DATABASE CONFIGURATION (APPLIES TO ALL SERVICES)
# Change the URL, username, or password here and ALL services will automatically use it!
SPRING_DATASOURCE_URL=xxx
SPRING_DATASOURCE_USERNAME=xxx
SPRING_DATASOURCE_PASSWORD=xxx
